body {
    display: flex;
    justify-content: center;
    gap: 5vh;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    background-color: rgb(20, 27, 39);
}

.calculator {
    display: flex;
    min-height: 50vh;
    min-width: 35vh;
    max-width: 35vh;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid;
    border-color: rgb(253, 253, 253);
    border-radius: 1px;
    align-self: center;
}

.row {
    display: flex;
    justify-content: stretch;
    flex: 1;
}

.selector {
    background-color: #1F2937;
}

.selector:hover {
    background-color: rgb(44, 58, 77);
}

.operation {
    background-color: #936814;
}

.operation:hover {
    background-color: #a3771e;
}

.reset {
    background-color: #9b1b1b;
}

.reset:hover {
    background-color: #a82121;
}

.display {
    background-color: #333333;
    display: flex;
    height: 15vh;
    flex-direction: column;
}

.selector, .operation, .reset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 1px solid;
    border-color: rgba(0, 0, 0, .25);
    font-size: 4vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align: center;
    flex: 1;
    margin: 0px;
    pointer-events: none;
}

.operation, .reset {
    color: white;
}

.display .upper {
    display: flex;
    color: white;
    align-items: flex-end;
    justify-content: left;
    font-size: 4vh;
    height: 30%;
    flex: 7;
    border: 1px solid;
    border-color: rgba(0, 0, 0, .15);
}

.upper p {
    text-align: left;
}

.lower p {
    text-align: right;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.display .lower {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    font-size: 5vh;
    color: white;
    flex: 8;
    border: 1px solid;
    border-color: rgba(0, 0, 0, .15);
}

.footer {
    display: flex;
    align-self: center;
    font-size: 3vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.placeholder {
    font-size: 3vh;
    color: rgb(20, 27, 39);
}